
<div class="message <%= message.user == current_user ? "align-right" : "align-left" %>">
  <div class="corpus">
  <% if current_user %>
    <p><%= message.body %></p>
  <% else %>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
   <%= image_tag avatar_url %> <h5><strong><%= message.user.username %></strong></h5>
    <p><%= message.body %></p>
  <% end %>
  </div>
</div>

