<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<% unread_messages = false %>
<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
    <%# if !unread_messages && @chatroom_user.last_read_at < message.created_at %>
      <% unread_messages = true %>
      <div class="strike"><span>Unread Messages</span></div>
    <%# end %>
      <%= render message %>
  <% end %>
</div>

<div class="chat-message">
  <%= simple_form_for [@chatroom, Message.new], remote: true do |f| %>
  <!-- to resolve the authenticity token qui deconne -->
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.input :body, as: :string, placeholder:"type your message", autofocus: true, label: false %>
    <%= f.button :submit, class: "btn-send", style: "width: 200px;"%>
  <% end %>
  </div>


<%# 1.upto(500) do %>
    <!-- <div><strong>Bruce Valetine</strong>Hello World</div> -->
  <%# end %>
