<!DOCTYPE html>
<html>
  <head>
    <title>Skipp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="fluid-container" style="margin-top: 75px;">
      <div class="row">
        <div class="sidebar hidden-xs nav-left" style="position: fixed; top: 70px; left: 0;">
        <% if user_signed_in? %>
          <h4>Chatrooms</h4>
          <% current_user.chatrooms.public_channels.each do |chatroom| %>
          <ul>
            <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
          </ul>
          <% end %>
          <h4>Users</h4>
          <% (User.all - [current_user]).each do |user| %>
          <ul>
            <li><%= link_to user.name || user.email, direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id } %></li>
          </ul>
          <% end %>
        <% end %>
        </div>
          <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
